//______________Брейкпоинты_________________________

$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//_______________________________________




//__________Шрифт по умолчанию___________

$font-family-main: "Cormorant";
$font-family-secondary: Montserrat;

//_____________________________________




//__________Палитра цветов___________

$bg-black1: #000;
$bg-black2: #212121;


$bg-grey1: #dfdfdf;

$bg-white1:#f1f5f8;
$bg-white2:#e1e1e1;

$clr-black1:#000; 
$clr-black2:#212121;

$clr-white1:#ffffff;

//_____________________________________




//___________Позиционирование и размер шрифта______________

$fz: 16px;
$fz-title:36px;

$txt-transform: uppercase;
$txt-align:center;

//_____________________________________